*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
.header-bg{
  background-color:#222;
  transition: all 0.3s ease-in-out;
}
.main{
  height: 100vh;
  width: 100%;
}
.nav{
  font-size:1.2rem;
font-weight: 10px;
letter-spacing: 3px;
  gap:30px;
  font-family:'Times New Roman', Times, serif;
}
nav a{
  color:white !important;
  
}
nav a:hover{
  color: red !important;
 transform: scale(1.02);
}
.content{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
}
.btn-info {
  font-family: Raleway-SemiBold;
  font-size: 1rem;
  color: rgba(91, 192, 222, 0.75);
  letter-spacing: 3px;
  line-height: 15px;
  border: 2px solid rgba(91, 192, 222, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-info:hover {
  color: #FFF;
  font-weight: bold;
  background: rgba(91, 192, 222, 0.75);
  border: 2px solid rgba(91, 192, 222, 0.75);
}
.btn-success {
  font-family: Raleway-SemiBold;
  font-size: 1rem;
  color: rgba(103, 192, 103, 0.75);
  letter-spacing: 3px;
  line-height: 15px;
  border: 2px solid rgba(103, 192, 103, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-success:hover {
  font-weight: bold;
  color: #FFF;
  background: rgb(103, 192, 103, 0.75);
  border: 2px solid rgb(103, 192, 103, 0.75);
}
